# Copia este archivo a .env y llena los valores

SECRET_KEY=tu-secret-key-aqui
DEBUG=True

# Base de datos MySQL
DB_NAME=order_db
DB_USER=root
DB_PASSWORD=tu-password
DB_HOST=localhost
DB_PORT=3306

# URLs de los otros equipos (usa la IP local de su computadora en la red del salon)
# Ejemplo: http://192.168.1.50:8001
IDENTITY_SERVICE_URL=http://localhost:8001
PRODUCT_SERVICE_URL=http://localhost:8002
